.header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.head_row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    border: none;
}
  
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    width: 100%;
}
  
.head > * {
    padding: 1em;
    width: 20vw;
    text-align: center;
    text-align: center;
    overflow: hidden;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

.search input {
    padding: 0.75em;
    background: #222531;
    color: #e2e2e2;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 100%;
    width: 300px;
    margin: auto;
}

input::placeholder {
    color: #e2e2e2;
}