* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #121212;
  color: whitesmoke;
}

.App {
  margin: 2em auto;
}

.page_loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 14px;
  background-color: lightgray;
}


::-webkit-scrollbar-thumb {
  background: rgb(54, 54, 54);
}

::-webkit-scrollbar-thumb:hover {
  background: #121212;
}